/*
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/
                               
*/

$foreground:      #909090;
$foreground-dark: #494949;
$gray:            #222222;
$light-black:     #161616;
$black:           #111111;
$background:      #0a0a0a;
$red:             #CB636A;
$green:           #58CC7A;
$yellow:          #E2CC86;
$orange:          #CF9D71;
$purple:          #594BA0;
$pink:            #B36797;
$cyan:            #71D5C3;

/*
  ______          _       
 |  ____|        | |      
 | |__ ___  _ __ | |_ ___ 
 |  __/ _ \| '_ \| __/ __|
 | | | (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/

*/

$font:        "jetBrainsMono Nerd Font";
$font-size:   1.3em;
$symbol:      "Symbols Nerd Font";
$symbol-size: 1.7em;

/*
   _____ _         _      
  / ____| |       | |     
 | (___ | |_ _   _| | ___ 
  \___ \| __| | | | |/ _ \
  ____) | |_| |_| | |  __/
 |_____/ \__|\__, |_|\___|
              __/ |       
             |___/        
*/

* {
  all: unset;
}

.eww_bar {
  background-color: $background;
  padding:     5px 4px;
  border-left: 2px solid $black;
}

.launcher_icon {
  font-family:   $symbol;
  font-size:     $symbol-size;
  font-weight:   bold;
  color:         $foreground-dark;
  border-radius: 5px;
  padding:       4px 0px;
  transition:    0.2s;
}

.launcher_icon:hover {
  color: $foreground;
}

.works {
  font-family:      $symbol;
  font-size:        $font-size;
  font-weight:      bold;
  background-color: $light-black;
  padding:          10px 0px;
  border-radius:    5px;
}

.0 {
  color:            $gray;
  border-radius:    16px;
}

.01, .02, .03, .04, .05, .06 {
  color:            $foreground-dark;
  border-radius:    16px;
}

.011, .022, .033, .044, .055, .066 {
  color:            $background;
  border-radius:    16px;
}

.focused {
  color:            $foreground;
  border-radius:    16px;
} 

.alert-off {
  font-family:      $symbol;
  font-size:        0px;
  color:            transparent;
  background-color: transparent;
  font-size:        0px;
  border-radius:    0px;
  padding:          0px 0px;
  margin:           0px;
  margin-top:       0px;
}

.caps-on {
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  color:            $background;
  background-color: $green;
  padding:          2px 0px;
  margin-top:       5px;
}

.git-mod {  
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  color:            $background;
  background-color: $purple;
  padding:          2px 0px;
  margin-top:       5px;
}

.git-del {  
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  color:            $background;
  background-color: $red;
  padding:          2px 0px;
  margin-top:       5px;
}

.git-project-mod {  
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  color:            $background;
  background-color: $orange;
  padding:          2px 0px;
  margin-top:       5px;
}

.git-project-del {  
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  color:            $background;
  background-color: $red;
  padding:          2px 0px;
  margin-top:       5px;
}

.control {
  font-family:      $symbol;
  font-size:        $symbol-size;
  border-radius:    5px;
  padding:          8px 0px;
  background-color: $light-black;
}

.memory-icon {
  color: $foreground; 
}

.volume-icon {
  color: $foreground;
}

.wifi-down {
  color: $red;
}

.wifi-up {
  color: $foreground;
}

.time {
  font-family:      $font;
  font-size:        $font-size;
  font-weight:      bold;
  border-radius:    5px;
  color:            $foreground;
  background-color: $light-black;
  padding:          2px 0px;
}
