
* {
  font-family: 'Montserrat', sans-serif;
  background-color: #0c0c0c;
}

body { 

  margin: 0; 
  width:   100vw;
  height:  100vh;
}

main {

  display: flex;
  justify-content: center;
  align-items: center;
  width:   100vw;
  height:  100vh;
  overflow: hidden;
}

.content {
  display: flex;         
}

.button-group {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  padding: 5px;
  border-radius: 5px;
  background-color: #161616;
  border: 1px solid #1f1f1f;
}

.slide:hover { box-shadow: inset 400px 0 0 0 #27272725; }

.tooltip {

  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.centered-box {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered-box a {

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;
  
  width:  15vh;
  height: 15vh;

  border-radius: 5px;
  outline: none;
  border:  none;

  background-color: #1d1d1d;
  border: 1px solid #272727;
}

.centered-box a i {

  color: #3b3b3b;
  font-size: 4vh;
  background-color: #1d1d1d;
}

.centered-box a {

  box-shadow: inset 0 0 0 0 #272727;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.principal {

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
}

.side-tools {

  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
  background-color: #1d1d1d;
  border: 1px solid #272727;
}

.side-tools a {

  cursor: pointer;
  width:  4vh;
  height: 4vh;
  border-radius: 5px;
  border: none;
}

.side-tools a i {

  font-size: 2vh;
  background-color: transparent;
}

.btn  i { z-index: 2; }
.btn  {

  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: all .2s;
  color: #0c0c0c;
}

.btn span {

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 0px;
  height:0px;
  background-color: #ffffff3b;
  box-shadow: 0 0 50px #ffffff3b;
  border-radius: 100%;
  transition: all .4s;
}

.btn:hover span{ 
  padding: 100%; 
}

.btn:active span{ 
  padding: 0%; 
}

.btn:active {
  background-color: #ffffff3b;
}

.btn-p { background-color: #6a4aa5; }
.btn-r { background-color: #ff3c38; }
.btn-o { background-color: #FF8C42; }
.btn-y { background-color: #FFF275; }
.btn-g { background-color: #60c9b2; }
.btn-b { background-color: #608ec9; }

.tooltip .tooltiptext {

  visibility: hidden;
  width: 120px;
  background-color: #1d1d1d;
  border: 1px solid #272727;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 99;
  bottom: 110%;
  left: 50%;
  margin-left: -65px;
  margin-right: -65px;
  opacity: 0;
  transition: opacity 0.2s;
  box-shadow: 0 0 10px 2px #00000080;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #272727 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
