.Leader {
    stroke-width: .0 !important;
    stroke: #535353;
    fill: none !important;
}

.Button {
    stroke-width: .25;
    stroke: #101010;
    fill: #101010;
}

.Ring {
    stroke-width: .0 !important;
    stroke: #535353 !important;
    fill: none !important;
}

.Label {
    stroke: none !important;
    stroke-width: .0 !important;
    font-size: .0 !important;
    fill: transparent !important;
}

.TouchStrip, .TouchRing {
    stroke-width: .0 !important;
    stroke: #ededed !important;
    fill: #535353 !important;
}
