* {
    /* Default */

    white:           #c4c4c4;
    foreground:      #909090;
    foreground-dark: #494949;
    gray:            #222222;
    black:           #111111;
    background:      #0a0a0a;

    /* Colors */

    red:             #CB636A;
    green:           #58CC7A;
    orange:          #CF9D71;
    cyan:            #71D5C3;
    purple:          #594BA0;
    pink:            #B36797;
    yellow:          #E2CC86;
}
