/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg1;
    font:		   "Cousine Nerd Font 12";
}

window {
    width:      		390px;
    padding:    		25px;
    border:	            0px;
    border-radius:          0px;
    border-color:           @orange;
    location:               center;
    y-offset:               0px;
}

entry {
    expand: 				true;
    text-color:				@fg1;
}
