/* General */

@media (prefers-color-scheme: dark) {
    
    :root {

        --blue:    #66abe4;
        --cyan:    #71D5C3;
        --green:   #58CC7A;
        --yellow:  #E2CC86;
        --orange:  #CF9D71;
        --red:     #CB636A; 
        --pink:    #B36797;
        --purple:  #594BA0;

        --background:  #0a0a0a;
        --black:       #111111;
        --gray:        #161616;
        --foreground:  #222222;
        --white:       #909090;
        --super-white: #c5c5c5;
    }
}
:root {

    --radius: 10px;
    --margin: 10px;

    --urlbar-popup-url-color:      var(--purple) !important;
    --uc-urlbar-width:             clamp(600px, 40vw, 600px);
    --uc-active-tab-width:         clamp(100px, 20vw, 180px);
    --uc-inactive-tab-width:       clamp(50px,  15vw, 100px);
    --show-tab-close-button:       DEFAULT: -moz-inline-box;
    --show-tab-close-button-hover: DEFAULT: -moz-inline-box;
}
:root {

    --uc-theme-colour:    var(--black,       var(--black));
    --uc-inverted-colour: var(--white,       var(--super-white));
    --uc-hover-colour:    var(--gray,        var(--background));
    --tab-active:         var(--black,       var(--black));
    --tab-inactive:       var(--gray,        var(--foreground));
    --link-list:          var(--list-select, var(--gray));

    --button-bgcolor:              var(--black)      !important;
    --button-hover-bgcolor:        var(--gray)       !important;
    --button-active-bgcolor:       var(--foreground) !important;
    --lwt-tab-text:                var(--white)      !important;
    --lwt-text-color:              var(--white)      !important;
    --toolbarbutton-border-radius: var(--radius)     !important;
    --tab-border-radius:           var(--radius)     !important;
    --arrowpanel-border-radius:    var(--radius)     !important;
    
    --tab-block-margin: 2px !important;
}

/* Buttons */

#back-button,
#forward-button                                 { display: DEFAULT -moz-inline-box !important; }
#star-button                                    { display: none !important; }
#urlbar-zoom-button                             { display: none !important; }
#PanelUI-button                                 { margin-top: -5px; margin-bottom: 20px; }
#PanelUI-menu-button                            { padding: 0px  !important; max-height: 1px; list-style-image: none !important; }
#PanelUI-menu-button .toolbarbutton-icon        { width:   2px  !important; }
#PanelUI-menu-button .toolbarbutton-badge-stack { padding: 0px  !important; }
#reader-mode-button                             { display: none !important; }
#tracking-protection-icon-container             { display: none !important; }
#identity-permission-box                        { display: none !important; }
#pageActionButton                               { display: none !important; }
#page-action-buttons                            { display: none !important; }
#urlbar-go-button                               { display: none !important; }
.tab-secondary-label                            { display: none !important; }

#window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
    -moz-appearance:  none !important;
    border:           none !important;
    box-shadow:       none !important;
    background-color: var(--background);
}

#PersonalToolbar toolbarbutton:not(:hover),
#bookmarks-toolbar-button:not(:hover) { filter: grayscale(1) !important; }

.titlebar-buttonbox-container { display: DEFAULT -moz-inline-box;}
.titlebar-spacer              { display: none !important; }

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }

.tabbrowser-tab
    >.tab-stack
    > .tab-background { box-shadow: none !important;  }
.tabbrowser-tab
    > .tab-stack
    > .tab-background { background: var(--black) !important; }
.tabbrowser-tab[selected]
    > .tab-stack
    > .tab-background { background: var(--gray) !important; }

#tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background:-moz-lwtheme { background: var(--black) !important; }

.tabbrowser-tab:not([pinned]) .tab-close-button       { display:   var(--show-tab-close-button)       !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display:   var(--show-tab-close-button-hover) !important; }
.tabbrowser-tab[selected][fadein]:not([pinned])       { max-width: var(--uc-active-tab-width)         !important; }
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) { max-width: var(--uc-inactive-tab-width)       !important; }

.tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background
    > .tab-context-line {
    margin:       -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
    border-radius: var(--radius) !important;
    box-shadow:    none;
}

.tab-icon-image:not([pinned]){ opacity: 1 !important; }
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
    top:              5px           !important;
    z-index:          1             !important;
    padding:          1.5px         !important;
    inset-inline-end: -8px          !important;
    width:            16px          !important; 
    height:           16px          !important;
    border-radius:    var(--radius) !important;
}

.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    stroke:           transparent       !important;
    background:       transparent       !important;
    color:            currentColor      !important;
    opacity:          1                 !important; 
    fill-opacity:     1                 !important;
    stroke:           var(--gray)       !important;
    background-color: var(--foreground) !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    stroke:           var(--gray)       !important;
    background-color: var(--foreground) !important;
}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) { margin-inline-end: 9.5px !important; }
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
    top:               0     !important;
    padding:           0     !important;
    inset-inline-end:  0     !important;
    margin-inline-end: 5.5px !important;
}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color:            currentColor      !important;
    fill-opacity:     0.95              !important;
    stroke:           var(--gray)       !important;
    background-color: var(--foreground) !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color:            currentColor      !important;
    fill-opacity:     1                 !important;
    stroke:           var(--gray)       !important;
    background-color: var(--foreground) !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]{ color: var(--uc-inverted-colour) !important; }

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover{ color: var(--uc-theme-colour) !important; }

#nav-bar {
    border:        none                   !important;
    box-shadow:    none                   !important;
    background:    var(--background)      !important;
    border-bottom: 2px solid var(--black) !important;
}

#navigator-toolbox { border-bottom: none !important; }

#urlbar,
#urlbar * {
    outline:       none !important;
    box-shadow:    none !important;
    border-radius: var(--radius);
}

#urlbar-background { border: var(--uc-hover-colour) !important; }

#urlbar[focused="true"]
    > #urlbar-background,
#urlbar:not([open])
    > #urlbar-background { background: var(--black) !important; }

#urlbar[open]
    > #urlbar-background { background: var(--uc-theme-colour) !important; }

.urlbarView-row:hover
    > .urlbarView-row-inner,
.urlbarView-row[selected]
    > .urlbarView-row-inner { 
    background-color: var(--gray) !important; 
    color:       #fff !important; 
    border-radius: 8px !important;
}

#statuspanel {
    position: absolute !important;
    bottom:   12px     !important; 
    left:     12px     !important;
}

#statuspanel #statuspanel-label {
    border:        none              !important;
    border-radius: var(--radius)     !important;
    background:    var(--background) !important;
}

/*
 ██████  ███    ██ ███████ ██      ██ ███    ██ ███████ 
██    ██ ████   ██ ██      ██      ██ ████   ██ ██      
██    ██ ██ ██  ██ █████   ██      ██ ██ ██  ██ █████   
██    ██ ██  ██ ██ ██      ██      ██ ██  ██ ██ ██      
 ██████  ██   ████ ███████ ███████ ██ ██   ████ ███████ 
*/

@media (min-width: 1120px) {
    #TabsToolbar { margin-left: var(--uc-urlbar-width) !important; }
    #nav-bar     { margin: calc((var(--urlbar-min-height) * -1) - 8px) calc(100vw - var(--uc-urlbar-width)) 0 0 !important;}
}

.identity-color-blue      { --identity-tab-color: var(--blue)   !important; --identity-icon-color: var(--blue)   !important; --uc-identity-gradient-color: var(--uc-identity-color-blue-muted)      !important; }
.identity-color-turquoise { --identity-tab-color: var(--purple) !important; --identity-icon-color: var(--purple) !important; --uc-identity-gradient-color: var(--uc-identity-color-turquoise-muted) !important; }
.identity-color-green     { --identity-tab-color: var(--green)  !important; --identity-icon-color: var(--green)  !important; --uc-identity-gradient-color: var(--uc-identity-color-green-muted)     !important; }
.identity-color-yellow    { --identity-tab-color: var(--yellow) !important; --identity-icon-color: var(--yellow) !important; --uc-identity-gradient-color: var(--uc-identity-color-yellow-muted)    !important; }
.identity-color-orange    { --identity-tab-color: var(--orange) !important; --identity-icon-color: var(--orange) !important; --uc-identity-gradient-color: var(--uc-identity-color-orange-muted)    !important; }
.identity-color-red       { --identity-tab-color: var(--red)    !important; --identity-icon-color: var(--red)    !important; --uc-identity-gradient-color: var(--uc-identity-color-red-muted)       !important; }
.identity-color-pink      { --identity-tab-color: var(--pink)   !important; --identity-icon-color: var(--pink)   !important; --uc-identity-gradient-color: var(--uc-identity-color-pink-muted)      !important; }
.identity-color-purple    { --identity-tab-color: var(--purple) !important; --identity-icon-color: var(--purple) !important; --uc-identity-gradient-color: var(--uc-identity-color-purple-muted)    !important; }
